 .error-head {
   width: 100%;
   height: 100%;
 }

 .error-notfound {
   display: inline-block;
   width: 800px;
   border-radius: 15px;
   /* line-height: 153px; */
   margin: 200px auto;
   border: 1.2px solid #be926f;
 }

 .error-404 {
   /* margin-top: 200px; */
   color: #be926f;
   font-size: 35px;
 }

 .error-sorry {
   color: #6d6d6d;
   font-size: 20px;
 }

 .login-wrap-error {
   padding: 3px 10px;
   text-decoration: none;
   font-size: 15px;
   display: inline-block;
   line-height: 23px;
   font-weight: 500;
   /* width: 60px;
   height: 23px; */
   border: 1.2px solid #be926f;
   color: #be926f;
   background: transparent none;
   border-radius: 5px;
   margin: 20px 10px;
 }

 .login-wrap-error :hover {
   color: #ffffff;
   background: #be926f;
 }
