* {
  /* margin: 0px 0px -2px 0px; */
  padding: 0;
  list-style: none;
}

.Sign .navigation-back {
  background-color: black;
  width: 100%;
  position: fixed;
  height: 58px;
  top: 0px;
  z-index: 4;
}

#person {
  height: 100%;
  /* height: 1000px; */
  overflow-x: hidden;
  overflow-y: hidden;
}

/* 内容body部分 */
.contract-body {
  height: 83%;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* 合同印章  */
/* 合同印章按钮 */
.Sign .contract-my-seal {
  position: fixed;
  z-index: 3;
  margin-top: -45px;
  background-color: #f2f2f2;
  left: 1px;
  width: 250px;
  height: 100%;
  border: 0.5px solid #d6c7bb;
}

.Sign .contract-my-seal .ul-height {
  width: 240px;
  height: 100%;
  margin: 50px auto
}

.Sign .contract-my-seal .ul-height li {
  display: inline-block;
}

.contractFile {
  border-radius: 20px;
}

.contractFile div {
  width: 20px;
  height: 20px;
  background: #ff6000;
}

.target {
  width: 800px;
  height: 900px;
  margin: 0 auto;
  padding: 0;
  position: absolute;
}

/* .margin30 {
  margin: 30px auto;
  width: 200px;
} */
.margin10 {
  margin: 10px auto;
  width: 200px;
}

.search-infor-button:first-child {
  font-size: 13px;
  display: inline-block;
  line-height: 20px;
  font-size: 13px;
  width: 50px;
  height: 20px;
  border: 1px solid #be926f;
  color: #be926f;
  border-radius: 5px;
  margin: 0px 5px;
}

.search-infor-button {
  font-size: 13px;
  display: inline-block;
  line-height: 20px;
  font-size: 13px;
  width: 50px;
  height: 20px;
  border: 1px solid #be926f;
  color: #be926f;
  border-radius: 5px;
  margin: 0px 5px;
}

.search-infor-button:hover {
  color: #ffffff;
  background-color: #be926f;
}

/* 添加 印章管理 */
.list {
  position: absolute
}

.width-153 {
  width: 153px;
  /* vertical-align: middle; */
}

.width153 {
  width: 153px;
  height: 153px;
  vertical-align: middle;
}

.append-infor {
  width: 200px;
  margin: 0px auto;
}

.contract-infor-back {
  background: no-repeat url(../../assets/images/签章.png);
  height: 20px;
  width: 60px;
  margin: 3px;
  float: left;
}

.Sign .append-infor span {
  margin: 3px -48px;
  float: left;
  font-size: 14px;
}

.append-infor-button {
  float: right;
  font-size: 13px;
  width: 52px;
  border: 1px solid #be926f;
  color: #be926f;
  padding: 2px 4px;
  border-radius: 5px;
  text-decoration: none;
}

.contract-infor-squar {
  width: 200px;
  height: 30px;
  border-bottom: 1px solid #be926f;
}

/* 提示文字 */
.append-infor-words {
  font-size: 12px;
  width: 150px;
  margin: 0px auto;
}

/* 印章图片 */
.Sign-my-code {
  width: 153px;
  height: 153px;
  display: inline-block;
  border: 1px dashed #d6c7bb;
  border-radius: 10px;
}

/* 默认印章选择 */
.default-seal {
  width: 153px;
  height: 20px;
  margin: 0px auto;
  font-size: 14px;
  text-align: center;
  /* background: #797878 */
}

.default-seal span {
  margin: 3px 30px;
  float: left;
  font-size: 14px;
}

.default-seal-back1 {
  background: no-repeat url(../../assets/images/签章3.png);
  height: 20px;
  width: 12px;
  margin: 3px 0px 0px 30px;
  float: left;
}

.default-seal-back2 {
  background: no-repeat url(../../assets/images/签章4.png);
  height: 20px;
  width: 12px;
  margin: 3px 0px 0px 0px;
  float: left;
}

.default-seal-back1:hover {
  background: no-repeat url(../../assets/images/签章5.png);
}

.default-seal-back2:hover {
  background: no-repeat url(../../assets/images/签章6.png);
}

/* 文件详情 */
.file-details,
.file-details ul,
.file-details ul li {
  /* background: palevioletred; */
  position: fixed;
  z-index: 1;
  right: 0;
  width: 250px;
  height: 100%;
  border-radius: 20px;
}

.file-my-detail {
  /* background: palevioletred; */
  position: absolute;
  background-color: #f2f2f2;
  margin-top: -60px;
  /* margin: -7px auto; */
  right: 1px;
  width: 250px;
  height: 100%;
  border: 0.5px solid #d6c7bb;
  /* border-radius: 20px; */
}

.file-my-squaer {
  margin: 200px auto;
  width: 200px;
  height: 100px;
  display: inline-block;
  border: 1px dashed #d6c7bb;
  border-radius: 10px;
}

.Sign-information-button .search-infor-button:hover,
.append-infor-button:hover {
  color: #ffffff;
  background-color: #be926f;
}

/* 合同详情 */
.contract-details {
  height: 100%;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.contract-my-back {
  background: #ffffff;
  margin: 10px auto;
  /* position: relative; */
  width: 800px;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid #be926f;
  color: #be926f;
  border-radius: 10px;
}

.contract-my-back1 {
  margin: 0px 5px;
  width: 790px;
  position: relative;
}

.contract-my-back:hover {
  box-shadow: 5px 3px 10px #797878;
}

.width800 {
  width: 800px;
  height: 1132px;
  /* position: absolute; */
}

.sign-animate {
   /* position: absolute; */
  background-size: 20px 20px;
  background-position: top right;
  border: 1px dashed #be926f;
  border-radius: 10px;
}



.contract-my-back1 .removeIt {
  background: url(../../assets/images/关闭.png) no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -o-border-radius: 100%;
  -moz-border-radius: 100%;
  cursor: pointer;
}



.list .el-carousel__arrow--right {
  right: 0px;
}

.list .el-carousel__arrow {
  border: none;
  outline: none;
  padding: 0px;
  margin: 0;
  height: 25px !important;
  width: 25px !important;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
  border-radius: 50%;
  background-color: rgba(31, 45, 61, 0.11);
  color: #fff;
  position: absolute;
  top: 67%;
  z-index: 10;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  font-size: 12px;
}

.drag-nodes-container {
  position: absolute;
}



.midlle-img {
  /* width: 153px;
  height: 153px; */
  line-height: 153px;
}
