* {
  padding: 0;
  list-style: none;
}

/*  导航文字 */
.navigation-a ul li a.activeLink,
.contract-information .contract-infor-img .activeLink {
  color: #be926f;
}

.navigationWords {
  height: 58px;
  width: 1200px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.navigation-a ul.navigation-ul {
  padding: 0px;
  margin: 0px;
}

.navigation-a ul li {
  display: inline-block;
}

.navigation-a ul .words-nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0px 30px;
  line-height: 56px;
  color: #ffffff;
  font-size: 16px;
}

.navigation-a ul .icons-nav a {
  text-decoration: none;
  line-height: 58px;
}

.navigation-a ul .icons-nav {
  float: right;
}

.navigation-a {
  z-index: 12;
  width: 1200px;
  position: fixed;
}

.navigation-a ul .words-nav a:hover {
  color: #be926f;
  border-bottom: 1px solid #be926f;
}

/*  导航条按钮 */
.navigationIcons {
  width: 250px;
  margin-top: 12px;
}

navigationIcons a {
  text-decoration: none;
}

.navigationIcon {
  padding: 0px 3px;
  fill: #ffffff;
  width: 30px;
  height: 30px;
}

.navigationIcon:hover {
  fill: #be926f;
}
