@media screen and (max-width: 700px) {
  #img-box,
  #canvas-drawImage h5,
  #canvas-brush {
    display: none;
  }
  #canvas-drawImage button {
    width: auto;
    position: absolute;
    flex: 1;
  }
  .wrap #control {
    width: 100%;
    height: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    text-align: center;
  }
}

.fix-body {
  position: fixed !important;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.inner.draw {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#control {
  width: 130px;
  height: 400px;
  position: absolute;
  /* margin-left: 4px; */
}

.draw h5 {
  margin-bottom: 10px;
}

#img-box {
  flex: 1;
  padding-left: 10px;
}

#img-box .img-item {
  position: relative;
  display: inline-block;
}

#img-box .img-item .fa {
  position: absolute;
  cursor: pointer;
  right: 1px;
  top: -1px;
  font-size: 12px;
  font-weight: 1;
  display: none;
  color: #ccc;
}

#img-box .img-item:hover .fa {
  display: block;
}

#img-box .img-item .fa:hover {
  color: #be926f;
}

#img-box img {
  border: 1px #ccc solid;
  width: 90px;
  height: 60px;
  margin: 5px;
}

.wrap {
  width: 100%;
  height: 100%;
  /* border: 1px #585858 solid; */
  overflow: hidden;
}

.fl {
  float: left;
  display: block;
}

#canvas {
  border-right: 1px #585858 solid;
  cursor: crosshair;
}

#control div {
  padding: 5px;
}

#canvas-color ul {
  overflow: hidden;
  margin: 0;
  padding: 0;
}

#canvas-color ul li {
  float: left;
  display: inherit;
  width: 13px;
  height: 13px;
  border: 3px #fff solid;
  margin: 8px;
  cursor: pointer;
}

#canvas-color .active {
  border: 1px solid #be926f;
}

#canvas-brush span {
  display: inline-block;
  width: 20px;
  height: 15px;
  margin-left: 10px;
  cursor: pointer;
}

#canvas-brush .small {
  font-size: 12px;
}

#canvas-brush .middle {
  font-size: 14px;
}

#canvas-brush .big {
  font-size: 16px;
}

#canvas-control span {
  /* display: inline-block; */
  font-size: 14px;
  width: 20px;
  height: 15px;
  margin-left: 10px;
  cursor: pointer;
}

#canvas-control .active,
#canvas-brush .active {
  color: #be926f;
}

.drawImage {
  width: 100px;
  height: 30px;
  font-size: 12px;
  line-height: 30px;
}
