/*  尾部*/

.navigation-foot {
  color: #ffffff;
  position: fixed;
  z-index: 7;
  background-color: black;
  bottom: 0px;
  width: 100%;
  height: 58px;
}

.navigation-foot-words {
  margin-left: auto !important;
  margin-right: auto !important;
  width: 1200px;
  font-size: 12px;
  line-height: 58px;
  text-align: center;
}
